<IfModule mod_rewrite.c>
   RewriteEngine on
   RewriteBase /server/cake/vssunetguru   
   php_value max_execution_time 0
   RewriteRule    ^$ app/webroot/    [L]
   RewriteRule    (.*) app/webroot/$1 [L]
</IfModule>